.task{
  border: 1px solid var(--border);
  background-color: var(--bg-primary);
  text-align: start;
  color: var(--text-primary);
  z-index: 10;
}

.active{
  z-index: 100;
}

.header{
  border-bottom: 1px solid var(--accent);
  padding: 0.5rem 0.4rem;
  line-height: 1; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description{
  padding: 0.4rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.buttons{
  display: flex;
  flex-wrap: nowrap;
}

.titleInput{
  padding: 0.1rem;
  font-family:  inherit;
  width: 100%;
}

.inputWrapper{
  display: flex;
  width: 100%;
}

.text{
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.dragHandle {
  cursor: grab;
  min-width: 8%;
  background-color: transparent;
  color: inherit;
  border: 0;
  box-shadow: 0px 0px 4px 2px var(--border);
}